<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.github.amanshuraikwar.nxtbuz">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name="io.github.amanshuraikwar.nxtbuz.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${appName}"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NxtBuz"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".launcher.LauncherActivity"
            android:theme="@style/AppTheme.NxtBuz.Launcher"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:theme="@style/AppTheme.NxtBuz.Onboarding"
            android:name="io.github.amanshuraikwar.nxtbuz.onboarding.OnboardingActivity" />

        <activity
            android:name="io.github.amanshuraikwar.nxtbuz.ui.MainActivity"
            android:windowSoftInputMode="adjustResize"/>

        <activity android:name="io.github.amanshuraikwar.nxtbuz.settings.ui.SettingsActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service
            android:name=".data.busarrival.service.BusArrivalService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="dataSync"/>
    </application>
</manifest>